* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans';
}

body {
  background-color: #6495ed;
  display: -ms-grid;
  display: grid;
  height: 100vh;
  -ms-grid-columns: [spread-start] 1fr [spread-end];
      grid-template-columns: [spread-start] 1fr [spread-end];
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

body .spread {
  grid-column: spread-start / spread-end;
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: [top-bleed spread-margin-top] 20.6fr [spread-top letter-Q-top] 23.5fr [lowercase-top] 25.9fr [lowercase-bottom article-text-top letter-Q-dash-top] 13fr [letter-Q-dash-bottom blurb-text-top] 18.08fr [blurb-text-bottom] 10.9fr [article-text-bottom] 6.46fr [bottom-bleed spread-margin-bottom];
      grid-template-rows: [top-bleed spread-margin-top] 20.6fr [spread-top letter-Q-top] 23.5fr [lowercase-top] 25.9fr [lowercase-bottom article-text-top letter-Q-dash-top] 13fr [letter-Q-dash-bottom blurb-text-top] 18.08fr [blurb-text-bottom] 10.9fr [article-text-bottom] 6.46fr [bottom-bleed spread-margin-bottom];
  -ms-grid-columns: 0.27fr 2.22fr 0.39fr 0.88fr 0.25fr 0.82fr 1.22fr 0.8fr 1.28fr 1.22fr 0.31fr 0.27fr;
      grid-template-columns: 0.27fr 2.22fr 0.39fr 0.88fr 0.25fr 0.82fr 1.22fr 0.8fr 1.28fr 1.22fr 0.31fr 0.27fr;
}

body .spread .below {
  background-color: #00d0ff85;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 5px solid #ec8cdd9c;
  z-index: 0;
}

body .spread .q {
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: 2/2/5/4;
}

body .spread .u {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-area: 3/4/4/6;
}

body .spread .a {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-area: 3/5/4/7;
}

body .spread .l {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 7;
  -ms-grid-column-span: 1;
  grid-area: 3/7/4/8;
}

body .spread .i {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 8;
  -ms-grid-column-span: 1;
  grid-area: 3/8/4/9;
}

body .spread .t {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 9;
  -ms-grid-column-span: 1;
  grid-area: 3/9/4/10;
}

body .spread .y {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 10;
  -ms-grid-column-span: 2;
  grid-area: 3/10/4/12;
}

body .spread .blurb {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 5/2/6/3;
}

body .spread .above {
  background-color: #3aec1685;
  width: 100%;
  height: 100%;
  border: 5px solid #ec8cdd9c;
  z-index: 1;
}

body .spread .article {
  -ms-grid-column: 3;
  -ms-grid-column-span: 8;
  grid-area: 4/3/-2/11;
}

body .spread .footer {
  grid-area: -2/1/-1/-1;
}
/*# sourceMappingURL=Quality_Magazine.css.map */