# These are just practice files, not actual layouts.

assets/implicit-explicit_grids/implicit-explicit_grids.sass
assets/implicit-explicit_grids/implicit-explicit_grids.css
assets/implicit-explicit_grids/implicit-explicit_grids.css.map
html/implicit-explicit_grids.html
