// @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap')

@mixin border()
    border: 1px solid black

@mixin square($size)
    width: $size
    height: $size 

@mixin size($width, $height)
    width: $width
    height: $height

@mixin fill($color)
    background-color: $color

@mixin orient-items($align: stretch, $justify: stretch)
    align-items: $align
    justify-items: $justify

@mixin orient-content($align: stretch, $justify: stretch)
    align-content: $align
    justify-content: $justify
    


$cornflowerBlue: #6495ed
    

* 
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: 'Open Sans'
    
    
    